@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Source+Sans+Pro:wght@300;400;500;600;700;800;900&display=swap");

/* Themes Variables */

:root {
  /* border */
  --border_color: #0000002b;
  /* backgrounds */
  --background_color: #f2f2f2;
  --header_color: #ffffff;
  --container_color: #ffffff;
  /* generic font */
  --font_color_h: #000000;
  --font_color_p: #000000;
  --link_color: #ff4500;
  --span_font: #000000;
  --span_color: #f0f0f0;
  /* elements */
  --button_color: #303033;
  --lamp_color: #3b3b3ba8;
  --separator_color: #e7e7e7;
  /* nav bar */
  --nav_color: #e6e6e6;
  --nav_active: #d5d5d5;
  --nav_hover: #d5d5d57a;
  --nav_border: #0000000f;
  --nav_font_color: #6b6b6b;
  --nav_font_active: #ffffff;
  /* Set the initial value of the "theme" custom property */
  --theme: light;
}

[data-theme="dark"] {
  /* Override the values of the CSS variables when the "data-theme" attribute is set to "dark" */
  --border_color: #ffffff0d;
  /* backgrounds */
  --background_color: #151515;
  --header_color: #1a1a1a;
  --container_color: #1a1a1a;
  /* generic font */
  --font_color_h: #ffffffd4;
  --font_color_p: #ffffff8a;
  --link_color: #ff4500;
  --span_font: #9f9f9f;
  --span_color: #ffffff26;
  /* elements */
  --button_color: #303033;
  --lamp_color: #ffffffef;
  --separator_color: #1e1e1ebf;
  /* nav bar */
  --nav_color: #0d0d0d;
  --nav_active: #292929;
  --nav_hover: #ededed0a;
  --nav_border: #4747473b;
  --nav_font_color: #a9a9a9;
  --nav_font_active: #ffffff;
  /* dark theme */
  --theme: dark;
}

/* generic article title header */

.titleheader { /*== main header*/
  padding: 7px 0;
  position: -webkit-sticky; /* For Safari browser compatibility */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--header_color);
  border-bottom: solid 1px var(--border_color);
  border-top: solid 1px var(--border_color);
  box-shadow: #00000009 0px 10px 13px 0px;
}
.titleheader h1 {
  font-family: 'Source Sans Pro', Arial;
  color: var(--font_color_h);
  font-size: 22pt;
  font-weight: 400;
  width: 1030px;
  margin: 0 auto;
  
}
.titleheader p {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--font_color_p);
  width: 1030px;
  margin: 0 auto;
}

/* generic styling border */

.gmstyling {
  background-color: var(--container_color);
  border: solid 1px var(--border_color);
  border-radius: 20px;
  padding: 25px;
  /* box-shadow: #a8a8a84a 2px 4px 20px 0px; */
  box-shadow: #00000008 14px 14px 13px 0px;
}
.flex_singlecard.gmstyling.card3x {
  padding: 20px;
}
.faq-item.gmstyling {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* generic article content */

.article_content {
  width: 1030px;
  margin: 40px auto;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--font_color_p);
}
.article_content ul {
  margin-left: 20px;
}
.article_content ul li {
  list-style-type: square;
  line-height: 30px;
}
.article_content p {
  line-height: 30px;
  margin-top: 5px;
}
.article_content h2 {
  font-weight: 550;
  color: var(--font_color_h);
}
.article_content h3 {
  font-weight: 600;
  color: var(--font_color_h);
}
.article_content img,
.article_content embed,
.article_content video {
  border-radius: 20px;
}
.article_content video {
  width: 100%;
  height: auto;
}
.article_content a {
  color: var(--link_color);
  display: inline;
}
.article_content span {
  color: var(--span_font);
  background-color: var(--span_color);
  text-align: justify;
  border-radius: 5px;
  padding: 0 5px;
}

/* all gif from gfycat  */

.gif{
  position:relative;
}
.gif iframe{
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.gif video{
  background: #000000;
}

/* separator line*/

.separator_line {
  width: 1030px;
  margin: 40px auto;
  border: 2px solid var(--separator_color);
  border-radius: 100%;
  border-radius: 10000px
}
.end_page_spacing {
  margin: 40rem 0;
}

/* centered images */ 

.center_img {
  width: 700px;
  margin: 20px auto;
}
.center_img img{
  border-radius: 20px;
}

/* centered large video */

.large_video_template {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.large_video_template embed,
.large_video_template iframe,
.large_video_template video {
  width: 645px;
  height: 337px;
}

/* flex cards layout type */

.flex_cards_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 34px;
}
.flex_cards_section img {
  border-radius: 20px;
}
.flex_singlecard {
  display: flex;
  flex-flow: column;
}
.flex_singlecard h2 {
  padding: 5% 0 5px 0;
}
.flex_singlecard.card3x h2 {
  padding: 2.5% 0 5px 0;
}
.flex_singlecard h3 {
  padding: 2.5% 0 5px 0;
}
.flex_singlecard p {
}
.flex_bottomalign {
  margin-top: auto;
}
.cardlarge {
  width: 60%;
}
.card2x {
  width: 495px;
}
.card3x {
  width: 31.0%;
}
.card4x {
  width: 22%;
}
.cardhidden {
  opacity: 0;
}

/* flex cards layout type for features */

.flex_cards_features {
  display: flex;
  flex-wrap: wrap;
}
.feature_card {
  width: 150px;
  margin: 5px 15px;
}
.feature_card img {
  width: 100%;
  height: auto;
}
.feature_card a {
  color: rgba(225, 223, 219, 1);
  background-color: var(--button_color);
  font-family: "Source Sans Pro", sans-serif;
  margin: 1rem 0px !important;
  padding: 8px 0px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  border-radius: 12px;
}
.feature_card p {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 23px;
  text-align: center;
}

/* image on the left, text on the right layout type */

.medial_textr {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
.medial_textr_big {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
.medial_textr h2{
  padding: 0 0 5px 0;
}
.medial,
.textr {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
.medial_textr .medial {
}
.medial_textr .textr {
  width: 45%;
}
.youtube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 100% * 9 / 16, maintains 16:9 aspect ratio */
  overflow: hidden;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: solid 1px #e1dfdb45;
}


/* example page special */

.examplecard{
  display: flex;
  flex-direction: column;
}
.examplecard video{
  width: 100%;
  height: auto;
}
.example_page_txtstyling p{
  text-align: left;
}
.example_page_txtstyling h2{
  text-align: left;
}
.example_page_txtstyling h5{
  font-size: 15px;
  font-weight: 400;
  }
.example_page_txtstyling .download_blend,
.example_page_txtstyling .download_blend a {
  /*needed to override general article content a */
  color: white; 
  display: block; 
  text-align: center;
}
.download_blend {
  text-decoration: none;
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  border-radius: 12px;
  margin: 10px 0 0 0;
  justify-content: center;
  color: white;
  background-color: var(--button_color);;
}
.download_blend:hover {
  background-color: rgb(255, 110, 57);
  color: white;
}

/* didn't get it */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body::-webkit-scrollbar {
  width: 6px;            
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 189);   
  border-radius: 20px;        
}
.logo {
  margin-left: 0.5rem;
  display: none;
}
.logo img {
  width: 18px;
  padding-bottom: 1rem;
}
.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
}
.menu-item a {
  padding: 7px 45px;
  font-size: 17px !important;
  color: var(--nav_font_color);
}
.menu-item.menu-indent a {
  padding-left: calc(45px + 15px);
}
.submenu {
}
.submenu-item {
  /* padding: 10px 0px; */
}
.submenu-item.active {
  background-color: rgb(73, 67, 67);
}
.submenu-item a {
  padding-left: 24px;
}
.menu-list {
  margin-top: 1rem;
}
.menu-list li.menu-item a:hover {
  text-decoration-line: underline;
}
.menu-list a.active {
  font-weight: 600 !important;
  color: var(--nav_font_active);
  background-color: var(--nav_active);
}

a,
img {
  display: block;
  width: 100%;
  height: auto;
}
.wrapper {
  width: 100%;
  height: auto;
  padding: 1.5rem 0;
  margin: 0;
}
.title {
  font-family: inherit;
  line-height: inherit;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.burger {
  display: none;
  position: fixed;
  cursor: pointer;
  top: 0%;
  left: 0%;
  padding: 7px;
  height: 46px;
  overflow: hidden;
  z-index: 2;
}
.burger-menu {
  position: relative;
  width: 24px;
  height: 1px;
  margin: 10px 0;
  border-radius: 4px;
  background: darkgray;
  transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.lamp {
  position: fixed;
  width: 39px;
  right: 0;
  top: 0;
  padding: 4px;
  margin-right: 4px;
  height:auto;
  z-index: 999999;
  stroke: var(--lamp_color);
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.sm_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.burger-menu:before,
.burger-menu:after {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  border-radius: 4px;
  background: darkgray;
  transition: all 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger-menu:before {
  top: -8px;
  left: 0;
  width: 24px;
}
.burger-menu:after {
  top: 8px;
  width: 24px;
  left: 0;
}
.burger.active .burger-menu {
  background: none;
}
.burger.active .burger-menu:before,
.burger.active .burger-menu:after {
  top: 0;
  width: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger.active .burger-menu:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger.active .burger-menu:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.menu::-webkit-scrollbar {
  width: 10px;  
  cursor: pointer;        
}
.menu:-webkit-scrollbar-track {
  background: orange;       
}
.menu::-webkit-scrollbar-thumb {
  background-color: #000000;    
  border-radius: 20px;       
  border: 1px solid #afacac;  
}
.sidenav {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  background-color: white;
}
.sidenav .menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15rem;
  margin: 0;
  background-color: var(--nav_color);
  overflow: auto;
  overflow-x: hidden;
  border: solid 1px var(--nav_border);
}
.sidenav .nav_version{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: var(--nav_font_color);
  opacity: 0.35;
  font-family: "Source Sans Pro", sans-serif;
}
.rotate {
  transform: rotate(180deg);
}
.sidenav .menu-item {
}

.sidenav .menu-link {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}
.sidenav .menu-link:hover {
  opacity: 1;
  background-color: var(--nav_hover);
}
.mainsite {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 1;
  margin: 0 auto;
}
.mainsite:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  display: block;
  z-index: 1;
}
.mainsite .mainpage {
  position: relative;
  margin-left: 15rem;
  min-height: 100%;
  z-index: 2;
  color: #252a32;
}
.mainsite .mainpage .article {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
#main_page_frame {
  min-height: 100vh;
  width: 100%;
  display: block;
  background: var(--background_color);
}

/* faq styling */

.faq-item {
  margin-bottom: 20px;
}
.faq_border {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.faq_titltt {
  font-family: 'Source Sans Pro', Arial;
  font-weight: 400 !important;
}
.faq-question {
  margin: 0;
  cursor: pointer;
  font-family: 'Source Sans Pro', Arial;
  font-weight: 500 !important;
}
.faq-question i {
  font-size: 18px;
  font-weight: 400;
}
.faq-icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}
.faq-answer {
  display: none;
  margin-top: 10px;
  margin-left: 0 !important;
  font-size: 16px;
  padding: 2px 30px;
  line-height: 1.5 !important;
  font-family: 'Source Sans Pro', sans-serif;
  border-top: 1px solid var(--border_color);
}
.faq-answer p {
  font-size: 16px;
}
.faq-answer h3 {
  font-weight: 400;
}
.faq-answer li {
  list-style-type: square;
  font-size: 16px;
}
.faq-answer img {
  margin: 25px 12%;
  width: 80%;
}
.faq-answer b {
  font-weight: 700;
}

/* image containter stuff ? */

.image-container1 {
  height: 630px;
  overflow: hidden;
  position: relative;
}

.image-container1 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.image-container1 img.slider_active {
  display: block;
}

.dot-container1 {
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-container1 button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: lightgrey;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.dot-container1 button.active {
  background-color: #303033;
}

/* old search system, need a cleanup? */

.search-container.active .search-icon {
  display: none;
}
.search-box.active {
  width: 100%;
  right: 0;
}
.search-input {
  width: 100%;
  max-width: 500px;
}
.search-box.active .search-input {
  background-color: transparent;
}
.search-container {
  position: fixed;
  top: 10px !important;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 3 !important;
}
.search-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 60px;
  color: #b3aeae;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small_screen_hide {
  display: block !important;
}
.search-box {
  position: fixed;
  top: 0;
  right: 60px;
  width: 0;
  height: 70px;
  overflow: hidden;
  transition: width 0.3s ease;
}
.search-box form {
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
.search-input {
  width: 50%;
  position: relative;
  background-color: #fff !important;
  margin: 0 auto;
  border-radius: 5px;
}
.search-input input[type="text"] {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
  background: transparent;
  font-size: 16px;
}
.search-input input[type="text"]::-webkit-input-placeholder {
  color: #ccc;
}
.search-input button[type="submit"] {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.close-icon {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  padding: 0px 14px;
  display: flex;
  align-items: center;
  visibility: hidden;
}
.search-box.active .close-icon {
  visibility: visible;
}
.search-container.active .search-icon {
  display: none;
}


.search-box.active {
  width: calc(100% - 60px);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    width: 100%;
}

/* centered image gallery UNUSED FOR NOW */

.plugin_ins_slider {
  background-color: #ffffff;
  width: 700px;
  margin: 20px auto;
  height: 330px;
  position: relative;
}
.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.image-container img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.image-container img.slider_active {
  display: block;
}
.dot-container {
  width: 100%;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot-container button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: lightgrey;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}
.dot-container button.active {
  background-color: #303033;
}
#prev,
#next {
  height: 40px;
  width: 40px;
  position: absolute;
  color: #ffffff;
  background-color: black;
  margin: auto;
  top: 46%;
  border: none;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bolder;
  outline: none;
  cursor: pointer;
}
#prev {
  left: 1%;
}
#prev:hover {
  background-color: #686565;
}
#next {
  right: 1%;
}
#next:hover {
  background-color: #686565;
} 


/* 8b    d8  dP"Yb  88""Yb 88 88     888888 
   88b  d88 dP   Yb 88__dP 88 88     88__   
   88YbdP88 Yb   dP 88""Yb 88 88  .o 88""   
   88 YY 88  YbodP  88oodP 88 88ood8 888888  */

@media only screen and (max-width: 1080px) {

  .titleheader{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
  }
  .titleheader h1{
    font-size: 23px;
    font-weight: 500;
    width: 90%; /*previous 1030px*/
  }
  .titleheader p{
    font-size: 14px;
    width: 90%; /*previous 1030px*/
  }
  .article_content {
    margin: 20px auto;
    width: 90%; /*previous 1030px*/
  }
  .article_content h2 {
    font-size: max(16px, 2.5vw);
  }
  .article_content h3 {
    font-size: max(14px, 2.0vw);
  }
  .article_content ul li,
  .article_content p {
    font-size: max(13px, 1.5vw);
    line-height: 25px;
  }
  .separator_line {
    width: 90%; /*previous 1030px*/
  }
  .flex_singlecard.optimizationtext.card3x {
    width: 29.8%;
  }
  .flex_cards_section {
    justify-content: flex-start;
    gap: 2vw;
    width: auto;
  }
  .flex_singlecard.gmstyling.card3x{
    padding: 15px;
  }
  .gmstyling {
    padding: 2vw;
  }
  .card2x {
    width: 48.2%;
  }
  .medial_textr .textr,
  .textr {
    width: 38%;
  }
  .medial {
    width: 58%;
  }
  .faq-item {
    margin-bottom: 2.2vw;
  }
  .feature_card {
    width: 140px;
    margin: 5px 12px;
  }

  .sm_header {
    display: block;
  }
  .sidenav {
    z-index: 2;
  }
  .wrapper {
    padding: 4rem 0 2rem 0;
    margin: 0;
  }
  .logo {
    display: none;
  }
  .center_img {
    width: 55%;
  }

  /* below == n panel popup */
  .burger {
    display: block;
  }
  .mainsite.active {
    overflow: hidden;
  }
  .mainsite .mainpage { 
    margin-left: 0;
    z-index: 3;
  }
  .mainsite.active .mainpage {
    /* transform: translateX(15.1rem); */
    z-index: 0;
  }
  .sidenav .menu {
    width: 100%;
    opacity: 0.98;
  }

  #prev,
  #next {
    font-size: 14px;
    height: 40px !important;
    width: 40px !important;

  }
}

@media only screen and (max-width: 720px) {
  .article_content p {
    line-height: max(18px, 1.5vw);
  }
  .flex_singlecard.gmstyling.card3x {
    padding: 2vw;
  }
  .card4x,
  .card3x{
    width: 47.9%;
  }
  .textr.card3x{
    width: 100%;
  }
  .medial_textr .textr,
  .medial_textr .medial,
  .medial_textr_big .textr,
  .medial_textr_big .medial {
    width: 100%;
  }
  .flex_singlecard.optimizationtext.card3x {
    width: 100%;
  }
  .medial {
    width: 100%;
  }
  .textr {
    width: 100%;
  }
  .feature_card {
    width: 110px;
    margin: 5px 12px;
  }
}

@media only screen and (max-width: 470px) {
  .titleheader{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .titleheader h1{
    font-size: 17px;
    font-weight: 500;
  }
  .titleheader p{
    font-size: 0;
  }
  .article_content {
    width: 98%;
    margin: 10px auto;
  }
  .gmstyling {
    padding: 10px;
    border-radius: 15px;
  }
  .center_img,
  .card3x,
  .medial,
  .card4x,
  .card2x {
    width: 100%;
  }
  .flex_cards_features{
    gap: 3vw;
  }
  .feature_card{
    margin: 0;
    width: max(48%, 11vw);
    padding: 2vw;
  }
  .lamp {
    width: 35px;
  }
  .article_content img,
  .article_content embed,
  .article_content video {
    border-radius: 15px;
  }

}